#background {
	background-image: url("@/assets/Background.jpg");
	background-size: cover;
	background-attachment: fixed;
  padding-left: 16px;
  padding-right: 16px;
	padding-top: 16px;
	user-select: none;
}

.blur {
	background-color: rgb(255 255 255 / 0.01) !important;
	backdrop-filter: blur(15px) !important;
	box-shadow: 0px 14px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.45);
}

.big-tile {
	height: 90%;
	max-width: 1700px;
	margin-top: 0.5vh;
}

.small-tile {
	height: 60%;
	max-width: 1000px;
	margin-top: 0.5vh;
}
